<div class="min-h-screen flex flex-col transition-colors duration-500
            bg-gray-50 text-gray-900 
            dark:bg-gradient-to-b dark:from-black dark:to-gray-900 dark:text-white 
            selection:bg-blue-500">
  
  @if (authService.isLoggedIn()) {
    <app-navigation></app-navigation>
  }

  <main class="flex-grow pt-16">
    <div class="container mx-auto px-4 py-8">
       <router-outlet></router-outlet>
    </div>
  </main>

  @if (authService.isLoggedIn()) {
    <app-footer></app-footer>
  }
</div>